## Deliverable 3. Create a Travel Itinerary Map.

In [51]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Apatou,GF,76.42,overcast clouds,5.1550,-54.3472,Yoto quensha
1,1,Cavaillon,FR,79.79,clear sky,43.8312,5.0359,Hôtel Toppin
2,5,Bethel,US,80.69,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,6,Atuona,PF,78.12,few clouds,-9.8000,-139.0333,Villa Enata
4,9,Tabas,IR,85.75,clear sky,33.5959,56.9244,شرکت معماری مهراز شایگان آراد

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Nola"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Nola"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Sorrento"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Crotone"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Terrasini"]

In [96]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = locations.iloc[204].to_numpy()

end = locations.iloc[204].to_numpy()

stop1 = locations.iloc[202].to_numpy()

stop2 = locations.iloc[229].to_numpy()

stop3 = locations.iloc[138].to_numpy()

In [95]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
138,452,Terrasini,IT,83.46,clear sky,38.146,13.0844,Florio Park Hotel

In [97]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vaction_round_trip = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(vaction_round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,607,Nola,IT,83.62,few clouds,40.9220,14.5329,Palazzo Giordano Bruno
1,605,Sorrento,IT,81.10,clear sky,40.6260,14.3744,Hilton Sorrento Palace
2,687,Crotone,IT,84.20,clear sky,39.0851,17.1178,Helios Hotel
3,452,Terrasini,IT,83.46,clear sky,38.1460,13.0844,Florio Park Hotel

In [103]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [104]:
# 11a. Add a marker layer for each city to the map.
#locations = hotel_info[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))